.card {
    height: 75px;
    position: relative;
    transform-style: preserve-3d;
}

.card-front, .card-back {
    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;

    background-color: antiquewhite;
    border-radius: 50%;
}

.card-front {
    z-index: 2;
    font-size: 50px;
    line-height: 75px;
    vertical-align: middle;
    text-align: center;
}